[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/samfox94/kickstart.nvim.git
	update = merge
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	update = merge
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
